* {
    box-sizing: border-box;
}
body, html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#track-button {
    position: absolute;
    z-index: 10000;
    top: 10px;
    left: 10px;
    background: #36c;
    color: white;
    font-size: 16px;
    border: 0px;
    width: 200px;
    line-height: 28px;
    border-radius: 6px;
    cursor: pointer;
}

#track-button:hover {
    background: #14a;
}

#track-button:active {
    background: #028;
}

#map {
    position: absolute;
    width: 70%;
    height: 100%;
    float: left;
}

#chat {
    margin-left: 70%;    
    width: 30%;
    height: 100%;
    background: #eee;
}

#chat-area{
    padding: 0 11px;
    overflow-y: scroll;
}

#chat-template{
    background:yellow;
}

#messages{
    background:blue;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

* {
    outline-width: 0;
}

#chat-input{
    width: 100%;
    font-size: 20px;
    border: 0;
    padding: 10px;
}

.marker {
    background-color: rgba(18, 157, 212, 0.7);
    background-size: cover;
    width: 24px;
    height: 24px;
    border: 3px solid white;
    border-radius: 50%;
}

#marker-dot {
    background-color: white;
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 27px;
    margin-left: 94px;
    position: absolute;
}

.marker input {
    color:black;
    text-align: center;
    background: transparent;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border: 0;
    width: 200px;
    height: 28px;
    font-size: 15px;
    position: relative;
    left: -92px;
    top: -30px;    
}

.marker div {
    color:black;
    text-align: center;
    background: transparent;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border: 0;
    width: 200px;
    height: 28px;
    font-size: 15px;
    position: relative;
    left: -90px;
    top: -23px;    
}

